@media screen and (max-width:576px) {
    .navbar-main{
        flex-direction: column;
    }
    
    .nav-right{
       flex-direction: column;
    }
    
    .nav-container{
        
        box-shadow:none;
    }
    .nav-right p, button{
       margin: 10px 0;
    }

    .goat-container{
        flex-direction: column-reverse;
        
    }

    .goat-main{
        
        background-image: none;
       
    }

    .goat-left{
        width: 100%;
        margin-top: 50px;
        padding: 50px 60px;
        background-image: url(./images/Group\ 14.png);
        background-repeat: no-repeat;
        
       
    }
    .goat-right{
        width: 100%; 
    }

    .gamer-container{
       flex-direction: column;
    }
    .gamer-left{
        width: 100%;
    }

    .gamer-right{
        width: 100%;
        text-align: center;
        
    
    }

    .gamer-right button{

        margin-left: 120px;
        width: 40%;
    }
    
}