@media screen and (max-width:576px) {
    .navbar-main{
        flex-direction: column;
    }
    
    .nav-right{
       flex-direction: column;
    }
    
    .nav-container{
        
        box-shadow:none;
    }
    .nav-right p, button{
       margin: 10px 0;
    }

    .goat-container{
        flex-direction: column-reverse;
        
    }

    .goat-main{
        
        background-image: none;
       
    }

    .goat-left{
        width: 100%;
        margin-top: 50px;
        padding: 50px 60px;
        background-image: url(./images/Group\ 14.png);
        background-repeat: no-repeat;
        
       
    }
    .goat-right{
        width: 100%; 
    }

    .gamer-container{
       flex-direction: column;
    }
    .gamer-left{
        width: 100%;
    }

    .gamer-right{
        width: 100%;
        text-align: center;
        
    
    }

    .gamer-right button{

        margin-left: 120px;
        width: 40%;
    }
    .funny-video{
        
        grid-template-columns: 1fr;
       
    }

    .watch-now{
      
        left: 40%;
        
    }

    .play-container{
        flex-direction: column;
        
    }

    .play-content{
        width: 100%;
        text-align: center;
    }

    .play-image{
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .online-container{
        flex-direction: column;
    }
    .online-image{
        width: 80%;
        margin: 0 auto;
        
    }

    .beral{
        
        top: 60%;
        left: 70%;
    }

    .beral img{
        height: 150px;
        width: 150px;
    }

    .online-content{
        width: 100%;
        text-align: center;
        
        
    }

    .hide{
        display: none;
    }

    .online-content h1{
        font-size: 2rem;
        
    }

    .career-container{
        flex-direction: column;
    }

    .career-content{
        width: 100%;
        padding: 50px 0;
        
    }

    .career-image{
        width: 100%;
        
    }

}