*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-main{
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    padding: 30px;
    width: 80%;
    margin: 0 auto;
}
.nav-left{
    display: flex;
    align-items: center;
   
}
.nav-right{
    display: flex;
    align-items: center;
   
}

.nav-left p{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 15px;
}

.nav-left img{
   width: 50px;
}

span{
    color: rgb(255, 66, 165);
}

.nav-right p, button{
    margin-left: 15px;
    font-size: 1rem;
    cursor: pointer;
}

.nav-right button{
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
}
.nav-right button i{
  margin-left: 10px;
 
}

.nav-container{
    
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}

    .goat-main{
        
        background-image: url(./images/Group\ 14.png);
        background-repeat: no-repeat;
       
    }

    .goat-container{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        align-items: center;
        padding: 30px 0;
        
    }

    .goat-left{
        width: 50%;
        
       
    }
    .goat-left h2,
    .goat-left h1,
    .goat-left p{
        margin-bottom: 15px;  
       
    }
    .goat-left h1{
        background-image: linear-gradient(#F948B2,#8758F1); 
        background-clip: text;
        color: transparent;
    }
    .goat-left p i{
        margin-right: 10px; 
        color: red; 
       
    }
    .goat-right{
        width: 50%;
    }
    .goat-right img{
        width: 100%;
    }

    .goat-button1{
        background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
        border-radius: 48px;
        border: none;
        padding: 10px 15px;
        color: white;
        margin-left: 0px;
        margin-right: 0px;
    }

    .goat-button2{
        border-radius: 48px;
        background: rgb(78, 197, 247);
        border: none;
        padding: 10px 15px;
        color: white;
    }

    .gamer-main{
        background: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
    }

    .gamer-container{
        display: flex;
        width: 80%;
        margin: 0 auto;
    }

    .gamer-left{
        width: 50%;
    }
    .gamer-left img{
        width: 100%;
    }
    .gamer-right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
    
    }

    .gamer-right h1{
        font-family: Work Sans;
        font-size: 3rem;
        font-weight: 700;
        background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
        background-clip:text;
        color:transparent;
        margin-bottom: 15px;
    }
    .gamer-right p{
        color: rgb(83, 76, 100);
        font-family: Work Sans;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 15px;
    }
    .gamer-right button{
        margin-bottom: 15px;
        background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 30px;
        width: 30%;
        margin-left: 380px;
    }

    .funny-video-container{
        width: 80%;
        margin: 50px auto;
        
    }

    .content{
        margin-bottom: 20px;
    }
    .content h1{
        font-family: Work Sans;
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
    }
    .content p{
        color: rgb(83, 76, 100);
        font-family: Work Sans;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
    }

    .funny-video{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .funny img{
        width: 100%;
        transition: filter 0.3s ease-in-out;
    }
    .funny{
        position: relative;
        
    }

    .watch-now i{
        color: white;
    }

    .watch-now{
        position: absolute;
        top: 45%;
        left: 35%;
        text-align: center;
        display: none;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
    }
    .funny:hover img {
        filter: brightness(30%);
    }
    .funny:hover .watch-now {
        display: block;
        opacity: 1;
    }

    .watch-now:hover {
        display: block;
    }

    .play-container{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        
    }

    .play-content{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: right;
    }

    .play-content h1{
        font-family: Work Sans;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .play-content p{
        color: rgb(83, 76, 100);
        font-family: Work Sans;
        font-size: 1rem;
        font-weight: 400;
    }
    .play-image{
        width: 50%;
        position: relative;
    }
    .play-image img{
        width: 100%;
    }

    .biral{
        position: absolute;
        bottom: -40px;
        left: -50px;
       
    }

    .biral img{
        height: 200px;
        width: 200px;
    }

    .online-container{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 100px auto;
        gap: 100px;
    }

    .online-image{
        width: 50%;
        position: relative;
    }
    .online-image img{
        width: 100%;
    }
    .online-content{
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* align-items: center; */
    }

    .online-content h1{
        font-family: Work Sans;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .online-content p{
        color: rgb(83, 76, 100);
        font-family: Work Sans;
        font-size: 1rem;
        font-weight: 400;
    }

    .beral{
        position: absolute;
        top: 70%;
        left: 75%;
    }

    .beral img{
        height: 200px;
        width: 200px;
    }

    .career-main{
        background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
        color: white;
    }
    .career-container{
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .career-content{
        width: 50%;
        padding: 50px 0;
    }

    .career-image{
        width: 50%;
        
    }

    .career-image img{
        width: 100%;
        
    }

    .career-display{
        display: flex;
        gap: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .career-content h1{
        color: rgb(255, 255, 255);
        font-family: Work Sans;
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .career-content button{
        padding: 15px 20px;
        border-radius: 30px;
        border: none;
        color: rgb(255, 66, 165);
        margin-left: 0px;
    }

    .action-container{
        width: 80%;
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .action-content{
        display: flex;
        gap: 10px;
        align-items: center;   
        
    }
    .action-content:hover{
          color: #F948B2;
          outline: 1px solid #F948B2;
          border-radius: 30px;
        
    }
    .action-content img{
        height: 50px;
        width: 50px;
        
    }