*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-main{
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    padding: 30px;
    width: 80%;
    margin: 0 auto;
}
.nav-left{
    display: flex;
    align-items: center;
   
}
.nav-right{
    display: flex;
    align-items: center;
   
}

.nav-left p{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 15px;
}

.nav-left img{
   width: 50px;
}

span{
    color: rgb(255, 66, 165);
}

.nav-right p, button{
    margin-left: 15px;
    font-size: 1rem;
    cursor: pointer;
}

.nav-right button{
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
}
.nav-right button i{
  margin-left: 10px;
 
}

.nav-container{
    
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}

    .goat-main{
        
        background-image: url(./images/Group\ 14.png);
        background-repeat: no-repeat;
       
    }

    .goat-container{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        align-items: center;
        padding: 30px 0;
        
    }

    .goat-left{
        width: 50%;
        
       
    }
    .goat-left h2,
    .goat-left h1,
    .goat-left p{
        margin-bottom: 15px;  
       
    }
    .goat-left h1{
        background-image: linear-gradient(#F948B2,#8758F1); 
        background-clip: text;
        color: transparent;
    }
    .goat-left p i{
        margin-right: 10px; 
        color: red; 
       
    }
    .goat-right{
        width: 50%;
    }
    .goat-right img{
        width: 100%;
    }

    .goat-button1{
        background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
        border-radius: 48px;
        border: none;
        padding: 10px 15px;
        color: white;
        margin-left: 0px;
        margin-right: 0px;
    }

    .goat-button2{
        border-radius: 48px;
        background: rgb(78, 197, 247);
        border: none;
        padding: 10px 15px;
        color: white;
    }